# This is a basic workflow to help you get started with Actions

name: J2LINT

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    #paths: "**.j2"

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  J2LINT:
    # The type of runner that the job will run on
    runs-on: ubuntu-20.04
    #runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Install j2lint
        run: |
         git clone https://github.com/aristanetworks/j2lint.git
         python3 -m venv myenv
         source myenv/bin/activate
         sudo apt-get install python3-pip
         pip3 install jinja2
         cd j2lint
         python setup.py install
            
      - uses: actions/checkout@v2
       
      - name: Run J2lint
        run: j2lint templates/
         
         
         
         
         
